@import "tailwindcss";
* {
  background-image: url("https://images.unsplash.com/photo-1556742049-0cfed4f6a45d?q=80&w=2070&auto=format&fit=crop");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

}
